---
import Button from "./Button.astro";

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <h2>
    {title}
    <span>&rarr;</span>
  </h2>
  <p>
    {body}
  </p>
  <Button>Klik p책 mig, please</Button>
  <Button size="small">Klik p책 mig, please</Button>
  <Button size="large">Klik p책 mig, please</Button>
  <Button variant="secondary" size="large">Klik p책 mig, please</Button>
</li>
